---
import PageLayout from "../layouts/PageLayout.astro";

const description = "Oops! We could not find the page you are looking for. It seems like the content you are seeking has taken a detour or is temporarily unavailable."
---

<PageLayout title="404 - Page not found" {description}>
  <p>{description}</p>
</PageLayout>