---
const currentDateYear = new Date().getFullYear();
---

<footer>
  <div class="container">
    <ul>
      <li>
        <a href="mailto:thilo@thilohohlt.com">Contact</a>
      </li>
      <li>
        <a href="https://github.com/thiloho/aurora">GitHub</a>
      </li>
    </ul>
    <p>
      <small>Copyright &copy; {currentDateYear} Your Name<br><a href="https://aurora.thilohohlt.com/">Astro aurora theme</a></small>
    </p>
  </div>
</footer>

<style>
  footer {
    margin-block-start: 4rem;
    padding-block: 1rem;
    background: linear-gradient(
      0deg,
      var(--tertiary-background-color) 0%,
      var(--background-color) 100%
    );
    text-align: center;
  }

  .container {
    display: grid;
    place-items: center;
  }

  ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
  }
</style>
