---
const { title } = Astro.props;
---

<header>
  <div class="container">
    <slot name="before-title" />
    <h1>{title}</h1>
    <slot />
  </div>
</header>

<style>
  header {
    margin-block-end: var(--size-9);
  }
</style>
