---
const { title, description, ogImage = ""  } = Astro.props;

const imageUrl = ogImage.replace("localhost:3000", "aurora.thilohohlt.com");
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="author" content="Your Name" />
  <meta name="description" content={description} />
  <script is:inline>
    const storedTheme = localStorage.getItem("theme");
    document.documentElement.className = storedTheme;
  </script>
  <meta property="og:image" content={imageUrl} />
</head>